tehtavat1/.vs
tehtavat1/.vs/tehtavat1/FileContentIndex/2df429b5-8010-44d8-bb07-4915035bf931.vsidx
tehtavat1/.vs/tehtavat1/FileContentIndex/5cb4ead5-6fff-4e2b-8f1a-46e138cec983.vsidx
tehtavat1/.vs/tehtavat1/v17/Browse.VC.db
tehtavat1/.vs/tehtavat1/v17/Browse.VC.db-shm
tehtavat1/.vs/tehtavat1/v17/Browse.VC.db-wal
tehtavat1/.vs/tehtavat1/v17/Browse.VC.opendb
tehtavat1/.vs/tehtavat1/v17/ipch/AutoPCH/39a35aea31f6cbcb/TEHT1.ipch
tehtavat1/.vs/tehtavat1/v17/ipch/AutoPCH/cc0547e6b8f3c6db/TEHT2.ipch
tehtavat1/x64
tehtavat1/teht2/x64/Debug/vc143.pdb
tehtavat1/teht2/x64/Debug/vc143.idb
tehtavat1/teht2/x64/Debug/teht2.tlog/teht2.lastbuildstate
tehtavat1/teht2/x64/Debug/teht2.tlog/link.write.1.tlog
tehtavat1/teht2/x64/Debug/teht2.tlog/link.read.1.tlog
tehtavat1/teht2/x64/Debug/teht2.tlog/link.command.1.tlog
tehtavat1/teht2/x64/Debug/teht2.tlog/CL.write.1.tlog
tehtavat1/teht2/x64/Debug/teht2.tlog/CL.read.1.tlog
tehtavat1/teht2/x64/Debug/teht2.tlog/Cl.items.tlog
tehtavat1/teht2/x64/Debug/teht2.tlog/CL.command.1.tlog
tehtavat1/teht2/x64/Debug/teht2.obj
tehtavat1/teht2/x64/Debug/teht2.log
tehtavat1/teht2/x64/Debug/teht2.ilk
tehtavat1/teht2/x64/Debug/teht2.exe.recipe
tehtavat1/teht1/x64/Debug/vc143.pdb
tehtavat1/teht1/x64/Debug/vc143.idb
tehtavat1/teht1/x64/Debug/teht1.tlog/teht1.lastbuildstate
tehtavat1/teht1/x64/Debug/teht1.tlog/link.write.1.tlog
tehtavat1/teht1/x64/Debug/teht1.tlog/link.read.1.tlog
tehtavat1/teht1/x64/Debug/teht1.tlog/link.command.1.tlog
tehtavat1/teht1/x64/Debug/teht1.tlog/CL.write.1.tlog
tehtavat1/teht1/x64/Debug/teht1.tlog/CL.read.1.tlog
tehtavat1/teht1/x64/Debug/teht1.tlog/Cl.items.tlog
tehtavat1/teht1/x64/Debug/teht1.tlog/CL.command.1.tlog
tehtavat1/teht1/x64/Debug/teht1.obj.enc
tehtavat1/teht1/x64/Debug/teht1.obj
tehtavat1/teht1/x64/Debug/teht1.log
tehtavat1/teht1/x64/Debug/teht1.ilk
tehtavat1/teht1/x64/Debug/teht1.exe.recipe
