tehtavat1/.vs
tehtavat1/.vs/tehtavat1/FileContentIndex/2df429b5-8010-44d8-bb07-4915035bf931.vsidx
tehtavat1/.vs/tehtavat1/FileContentIndex/5cb4ead5-6fff-4e2b-8f1a-46e138cec983.vsidx
tehtavat1/.vs/tehtavat1/v17/Browse.VC.db
tehtavat1/.vs/tehtavat1/v17/Browse.VC.db-shm
tehtavat1/.vs/tehtavat1/v17/Browse.VC.db-wal
tehtavat1/.vs/tehtavat1/v17/Browse.VC.opendb
tehtavat1/.vs/tehtavat1/v17/ipch/AutoPCH/39a35aea31f6cbcb/TEHT1.ipch
tehtavat1/.vs/tehtavat1/v17/ipch/AutoPCH/cc0547e6b8f3c6db/TEHT2.ipch
